:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --section-color: #f5f4fa;
  --address-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

.lists {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hide-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}
/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}
/* section */
.section {
  padding-top: 94px;
}
/* Допустимы сброс стилей по ТЗ */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

/* logo */
.logo {
  display: block;
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-black {
  color: var(--black-color);
}
/* site nav */
.site-nav {
  display: flex;
}
.site-nav .item + .item,
.auth-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/* auth nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* Стили для index.html*/
/* hero */
.hero,
.footer {
  background-color: var(--hero-bg-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  margin: 0 auto;
  width: 696px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.btn {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border-color: transparent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn:hover,
.btn:focus {
  background-color: #188ce8;
}
/* features */
.features-list {
  display: flex;
}
.features-list .item {
  width: 270px;
  margin-right: 30px;
}
.features-list .item:last-child {
  margin-right: 0;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
}
/* about & team */
.section.about {
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  justify-content: space-between;
}
.about-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list > .item {
  text-align: center;
  background-color: var(--bg-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list .title {
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.team-list .text {
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  display: block;
  width: 145px;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-white {
  color: var(--white-color);
}
.address {
  display: block;
  width: 231px;
  margin-top: 20px;
}
.address .text {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--white-color);
}
.address-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-link-color);
}
.address-list > .item {
  padding-top: 9px;
}
/* Стили для portfolio.html */
/* buttons */
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-list > .item {
  margin-left: 8px;
}
.buttons-list > .item:first-child {
  margin-left: 0;
}
.buttons {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--section-color);
  color: var(--title-text-color);
}
.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  cursor: pointer;
}
/* cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.cards > .item {
  width: 370px;
  margin-left: 30px;
  margin-bottom: 30px;

  outline: 1px solid var(--section-color);
}
.cards-text-box {
  padding: 20px 24px;
}
.cards-tittle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.cards-text {
  font-size: 16px;
  line-height: 1.88;
}
